
.full-width {
    width: 100%;
    margin: 10px;
    }
    
    .add-user {
    min-width: 120px;
    margin: 20px auto;
    }
h4 {
    margin: 0;
    font-weight: 400;
    font-size: 25px;
    color: #ba005c;
}