<section> 
    <div class="example-button-row">
      <h4>AJOUTER UNE NOUVELLE FACTURE</h4>
    </div>
  </section>

  @if (form) {
    <form [formGroup]="form" novalidate (ngSubmit)="saveFacture()">
      <mat-card class="add-user">
        
        <mat-card-content> 
          <div class="row">
            <div class="col">
              <mat-form-field class="full-width">
                <mat-label>Intitulé</mat-label>
                  <input matInput formControlName="intitule" >
                  @if (form.controls['intitule'].hasError('required')) {
                    <mat-error>Intitulé is <strong>required</strong></mat-error>
                  }
                </mat-form-field>
              </div>
          </div>
            <div class="row">
                <div class="col">
                  <mat-form-field class="full-width">
                    <mat-label>Dossier</mat-label>
                    <mat-select  formControlName="dossier">
                      @for (dossier of dossiers; track dossier) {
                        <mat-option [value]="dossier.value">{{ dossier.name }}</mat-option>
                      }
                    </mat-select>
                    @if (form.controls['dossier'].hasError('required')) {
                      <mat-error>Cadre achat is <strong>required</strong></mat-error>
                    }
                  </mat-form-field>
                </div>
            </div> 
            <div class="row">
                <div class="col">  
                <mat-form-field class="full-width">
                    <mat-label>Date de reception</mat-label>
                    <input matInput [matDatepicker]="picker" formControlName="dateFichier"> 
                    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                    @if (form.controls['dateFichier'].hasError('required')) {
                    <mat-error>Date is <strong>required</strong></mat-error>
                    }
                </mat-form-field> 
                </div> 
            </div>
            <div class="row">
              <div class="col">
                <mat-form-field class="full-width">
                  <mat-label>Délai à ne pas dépasser</mat-label>
                  <input matInput formControlName="delaiANePasDepasser" type="number" placeholder="0">
                  <span matTextSuffix>Jrs</span>  
                  @if (form.controls['delaiANePasDepasser'].hasError('required')) {
                    <mat-error>Cadre achat is <strong>required</strong></mat-error>
                  }
                </mat-form-field>
              </div>
          </div> 
            <!--  -->
            <div class="row">
              <div class="col"> 
            <div
            class="file-upload-wrapper"
            (drop)="onFileDrop($event)"
            (dragover)="onDragOver($event)"
          >
            <input
              type="file"
              accept=".pdf"
              (change)="onFileChange($event)"
              hidden
              #fileInput
            />
            <div class="file-dropper" (click)="fileInput.click()">
              <mat-icon>upload</mat-icon>
              <p>Facture</p>
              <div *ngIf="imageName()">
                <div *ngIf="selectedFile" class="file-info-container">
                    <p class="file-info">
                      <span class="image-name">{{ imageName() }}</span> ({{ fileSize() }} KB)
                    </p>
                    <mat-icon class="delete-icon" color="primary" >delete</mat-icon>
                  </div>                  
              </div>
            </div>
          </div>
          </div>
        </div>  
          <!--  -->
        </mat-card-content>
        <mat-card-actions >
          <button mat-flat-button color="primary" type="submit">Submit</button>
        </mat-card-actions>
      </mat-card>
    </form>
    }